# Dataset
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

# Model outputs
models/*
!models/.gitkeep

# Experiment checkpoints
*.pth

# Hard Sample
data/audit/hard_samples/
data/audit/hard_samples_5plus/

# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

